* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 200px auto;
  padding: 20px;
  color: #02203f;
  line-height: 2rem;
}

#text-input {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  border: none;
}

#check-btn {
  padding: 13px 25px;
  border-radius: 10px;
  color: white;
  background-color: #4facfe;
  border: none;
  outline: none;
}

.control {
  padding: 20px;
  margin: 30px auto;
}

#result {
  color: #02203f;
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}
